<section class="font">

  <div style="display: flex; justify-content: space-between">
  	<h2 class="value" data-value="{{font.title}}">{{ font.title }}</h2>
  	<a style="font-size: 1.2rem; text-decoaration: none;" href="{{ font.meta.download_url }}" target="_blank">↓</a>
  </div>
  
  <div class="head-font">

    <div class="designers">
      <span class="title">Designer(s) :</span>
      <div class="values">
        {% for designer in font.meta.designers %}
          <span class="value" data-value="{{designer}}"
          >{{ designer }}</span
        >
        {% endfor %}
      </div>
    </div>

    <div class="tags" style="display: none;">
			{% if font.meta.tags %}
				{% set tags = font.meta.tags|list %}
			{% else %}
				{% set tags = [] %}
			{% endif %}
      <span class="title">Tag(s) :</span>
      <div class="values">
        {% for tag in tags %}
          <span class="value" data-value="{{tag}}">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>

    <div class="license">
      {% set license = font.meta.license %}
      <span class="title">Licence :</span>
      <div class="values">
          <span class="value" data-value="{{license}}">{{ license }}</span>
      </div>
    </div>

  </div>

  {% for style in font.meta.styles %} {% set i = loop.index - 1%}
  <style>
    @font-face {
      font-family: "{{font.title}}---{{ style }}";
      src: url("{{ font.meta.paths[i] }}");
    }
  </style>
    {% if(font.meta.sample_text) %}
	    {% set sampleText = font.meta.sample_text %}
		{% else %}
			{% set sampleText = "Récite moi l'alphabet." %}
		{% endif %}
  <div
    class="sample-text preview {{font.meta.scale}}"
    style='display: flex;font-family: "{{font.title}}---{{ style }}", "substitut";'
    contenteditable="false"
  >
   {{sampleText|trim}}
  </div>
  <!-- <input style='font-family: "{{font.title}}---{{ style }}", "substitut";' class="sample-text try" value="{{sampleText}}"> -->

  <div class="font-style">{{ style }}</div>
  {% endfor %}
</section>
